<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">Admin Section</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngFor="let topbar of navElement">
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" (click)="navigateToPage(topbar.link)" routerLinkActive="active">{{topbar.menuName}}</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse float-right" id="navbarNav">
        <ul class="navbar-nav float-right">
          <li class="nav-item" style="cursor: pointer;">
            <a class="nav-link" (click)="navigateToPage(topbar.link)" >{{loggedInUserDetails.username }}</a>
          </li>
          <li class="nav-item" style="cursor: pointer;">
              <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
      </div>
  </div>
</nav>